.section-banner {
    background-image: url("../images/bgcontact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.banner-title {
    font-family: "petemoss";
    color: #B59361;
    font-size: 120px;
    letter-spacing: 12%;
    padding: 150px 100px;
}