.section-banner {
    background-image: url("../images/bgcontact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.banner-title {
    font-family: "petemoss";
    color: #B59361;
    font-size: 120px;
    letter-spacing: 12%;
    padding: 150px 100px;
}

.section-contact {
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    padding-bottom: 200px;
}
.section h2 {
    text-align: center;
    margin-bottom: 50px;
}

.location-wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.location-info {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.location-infolist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.location-txt {
    padding: 0 10px;
}

.fa-solid {
    color: #666;
    font-size: 20px;
}

.location-txt span {
    font-family: "noto serif tc";
    font-size: 20px;
    font-weight: bold;
    color: #666;
    line-height: 30px;
}