.section-banner {
    background-image: url("../images/bgcontact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.banner-title {
    font-family: "russo one";
    color: #B59361;
    font-size: clamp(16px, 7.8125vw, 100px);
    letter-spacing: 12%;
    padding: 150px 100px;
}

.section h2 {
    text-align: center;
    margin-bottom: 50px;
}

.location-wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.location-info {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.location-infolist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.location-txt {
    padding: 0 10px;
}

.fa-clock, .fa-phone, .fa-envelope, .fa-location-dot {
    color: #666;
    font-size: 20px;
}

.location-txt span {
    font-family: "noto serif tc";
    font-size: 20px;
    font-weight: bold;
    color: #666;
    line-height: 30px;
}

.contact-form {
    background-color: #FFEEEB;
    border-radius: 0px 100px 0px 100px;
    width: 60%;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-wrap label {
    width: 25%;
    color: #666;
    font-size: 16px;
    font-family: "noto sans tc";
}

.contact-form input {
    height: 40px;
    color: #666;
    font-size: 16px;
    font-family: "noto sans tc";
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 5px;
    padding-left: 10px;
}
.contact-form textarea {
    height: 80px;
    display: block;
    color: #666;
    font-size: 16px;
    font-family: "noto sans tc";
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 5px;
    padding-left: 10px;
}




.form-btn {
    text-align: center;
}

.form-btn button {
    background-color: #FFA1A7;
    border-radius: 0 30px 0 30px;
    border: 0;
    height: 60px;
    color: white;
    font-size: 16px;
}


.form-btn button:hover {
    background-color: #E86971;
}

@media screen and  (max-width: 955.9px) {
    .contact-form {
        width: 70%;
    }
    .location-wrap {
        flex-direction: column;
        align-items: center;
    }
    .contact-form input {
        width: 30%;
    }
    .contact-form textarea {
        width: 30%;
    }
    .form-btn button {
        width: 40%;
    }
    
}

@media screen and  (min-width: 956px) {
    .form-btn button {
        width: 70%;
    
    }
    .contact-form {
        width: 50%;
    }
    .contact-form input {
        width: 40%;
        height: 40px;
        color: #666;
        font-size: 16px;
        font-family: "noto sans tc";
        background-color: transparent;
        border: 1px solid #666;
        border-radius: 5px;
        padding-left: 10px;
    }
    .contact-form textarea {
        width: 40%;
        height: 80px;
        display: block;
        color: #666;
        font-size: 16px;
        font-family: "noto sans tc";
        background-color: transparent;
        border: 1px solid #666;
        border-radius: 5px;
        padding-left: 10px;
    }
    
}