

.section {
    padding: 50px 0;
}

.section-banner {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner-txt {
    padding-top: 10%;
    padding-left: 40%;
}

.banner-txt h1 {
    font-size: clamp(16px, 3.75vw, 48px );
    line-height: 96.5px;
    letter-spacing: 12%;
    color: white;
    text-shadow: 4px 4px 4px #666;
    font-family: "noto serif tc";
}

.banner-txt span {
    font-size: clamp(20px, 5vw, 64px );
}


.brand-story {
    font-family: "noto sans tc";
    color: #B59361;
    font-size: clamp(16px,1.5625vw,20px);
    letter-spacing: 18%;
    line-height: 32px;
}

.brand-pic img {
    display: block;
    width: 100%;
}

.brand-txt, .brand-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section h2 {
    text-align: center;
}


.services-pic {
    position: relative;
}

.services-title {
    margin-left: 50px;
}

.services-pic-wrap {
    position: relative;
}

.services-pic-txt {
    position: absolute;
    bottom: 0%;
    left: 7%;
    font-family: "russo one";
    font-size: 28px;
    letter-spacing: 12%;
    color: #B59361;
}

.services-pic-photo {
    position: absolute;
    left: 5%;
}

.services-pic-wrap:nth-child(1) {
    position: relative;
    left: 60px;
    top: 40px;
}

.services-pic-wrap:nth-child(2) {
    position: relative;
    left: 200px;
    top: 60px;
}
.services-pic-wrap:nth-child(3) {
    position: relative;
    top: 40px;
    left: 50px;
}

.services-pic-wrap:hover .services-pic-txt {
    color: #E86971;
}


@media screen and  (max-width: 527.9px) {
    .card {
        width: 80%;
    }
    .photo {
        width: 80%;
        padding: 40px;
    }   

    .services-pic-wrap:nth-child(1) {
        position: relative;
        top: 5%;
        left: 10%;
    }
    
    .services-pic-wrap:nth-child(2) {
        position: relative;
        top: 15%;
        left: 60%;
    }
    .services-pic-wrap:nth-child(3) {
        position: relative;
        top: 15%;
        left: 15%;
    }
}




@media screen and  (min-width: 528px) {
    .card {
        width: 80%;
    }
    .photo {
        width: 80%;
        padding: 40px;
    }   

}


@media screen and  (min-width: 768px) {
    .card {
        width: 45%;
    }
    .photo {
        width: 45%;
        padding: 40px;
        height: 400px;
    }
        
}


@media screen and  (min-width: 1024px) {
    .card {
        width: 30%;
    }
    .photo {
        width: 30%;
        padding: 40px;
        height: 400px;
    }   

    .photo:nth-child(2) {
        position: relative;
        top: 80px;
    }
}




.news-cardlist {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.card {
    border-radius: 0 100px 0 100px;
    background-color: #FFEEEB;
}

.card-pic {
    overflow: hidden;
    border-radius: 0px 100px 0px 0px;
}


.card-pic img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 100px 0  0;
    transition: .3s;
}

.card-pic img:hover {
    scale: 1.2;
}

.card-txt {
    padding: 10px 20px;
    position: relative;
}

.card-title {
    color: #666;
    font-family: "noto serif tc";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 12%;
    line-height: 30px;
}

.card-txt button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #FFA1A7;
    border-radius: 0 30px 0 30px;
    border: 0;
    width: 150px;
    height: 60px;
    font-size: 16px;
}

.card-txt button a {
    text-decoration: none;
    color: white;
}

.card-txt button:hover {
    background-color: #E86971;
}


.portfolio-title {
    text-align: center;
    margin-bottom: 50px;
}

.photolist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 150px;
}

.photo {
    
    background-color: #FFEEEB;
    position: relative;
    box-sizing: border-box;
    transition: .3s;
}

.photo:hover {
    transform: rotate(10deg);
}

.photo-pic img {
    width: 100%;
    object-fit: cover;
}

.photo-title {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: "noto serif tc";
    font-weight: bold;
    line-height: 43px;
    color: #B59361;
}

.photo-pin {
    position: absolute;
    top: -15px;
    left: 50%;
}



.slider {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bubble-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.bubble {
    position: relative;
    background: #ffeeeb;
    color: #666666;
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    width: 300px;
    height: 260px;
    border-radius: 68px;
    padding: 40px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #ffeeeb transparent transparent transparent;
    bottom: -20px;
    left: 28%;
    margin-left: -10px;
}



.card-txt a button {
    color: white;
}