* a {
    text-decoration: none;
}

.section-banner {
    background-image: url("../images/bgpf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.banner-title {
    font-family: "russo one";
    color: #B59361;
    font-size: clamp(16px, 7.8125vw, 100px);
    letter-spacing: 12%;
    padding: 150px 100px;
}

.photolist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.photo {
    padding: 40px;
    background-color: #FFEEEB;
    position: relative;
    box-sizing: border-box;
    transition: .3s;
}

.photo:hover {
    transform: rotate(10deg);
}

.photo-pic img {
    width: 100%;
    object-fit: cover;
}

.photo-title {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: "noto serif tc";
    font-weight: bold;
    line-height: 43px;
    color: #B59361;
}

.photo-pin {
    position: absolute;
    top: -15px;
    left: 50%;
}




.section-wedding h2 {
    text-align: center;
    margin-bottom: 50px;
}

.wedding-pic {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    margin: 0 auto;
    justify-content: center;
}

.wedding-pic img {
    filter: grayscale(1);
    transition: .3s;
}

.wedding-pic img:hover {
    filter: grayscale(0);
}


@media screen and  (max-width: 527.9px) {
    .photo {
        width: 80%;
        padding: 40px;
    }  

}




@media screen and  (min-width: 528px) {
 
    .photo {
        width: 80%;
        padding: 40px;
    } 
   

}


@media screen and  (min-width: 768px) {

    .photo {
        width: 45%;
        padding: 40px;
        height: 400px;
    }
   
}


@media screen and  (min-width: 1024px) {
 
    .photo {
        width: 30%;
        padding: 40px;
        height: 400px;
    }   

    .photo:nth-child(2) {
        position: relative;
        top: 80px;
    }
}

.owl-carousel .item  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.pic-wrap1 .item img {
    object-position: top center;
}

.pic-wrap1 .item {
    height: 18rem;
  }

.pic-wrap1 {
    margin-bottom: 8px;
}

.pic-wrap2 .item {
    height: 30rem;
  }

  .pic-wrap2 {
    margin-bottom: 50px;
}

.pic-wrap2 .item img {
    object-position:center;
}