* a {
    text-decoration: none;
}

.section-banner {
    background-image: url("../images/bgpf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.banner-title {
    font-family: "petemoss";
    color: #B59361;
    font-size: 120px;
    letter-spacing: 12%;
    padding: 150px 100px;
}

.photolist {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.photo {
    width: 30%;
    height: 450px;
    padding: 40px;
    background-color: #FFEEEB;
    position: relative;
    box-sizing: border-box;
    transition: .3s;
}

.photo:hover {
    transform: rotate(10deg);
}

.photo-pic img {
    width: 100%;
    object-fit: cover;
}

.photo-title {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: "noto serif tc";
    font-weight: bold;
    line-height: 43px;
    color: #B59361;
}

.photo-pin {
    position: absolute;
    top: -15px;
    left: 50%;
}

.photo:nth-child(2) {
    position: relative;
    top: 80px;
}



.section-wedding h2 {
    text-align: center;
    margin-bottom: 50px;
}

.wedding-pic {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    margin: 0 auto;
    justify-content: center;
}

.wedding-pic img {
    filter: grayscale(1);
    transition: .3s;
}

.wedding-pic img:hover {
    filter: grayscale(0);
}
