body {
    box-sizing: border-box;
    font-family: "noto sans tc";
}


h2 {
    color: #B59361;
    font-family: "noto serif tc";
    font-size: 32px;
    letter-spacing: 12%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    color: #B59361;
    font-family: "noto serif tc";
    font-size: 28px;
    letter-spacing: 12%;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 16px;
    font-family: "noto sans tc";
    line-height: 32px;
    color: #666;
    letter-spacing: 4%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

@media screen and (max-width: 767.9px) {
    .footer-info .logo img {
        width: 40px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .mobile-menu .fa-bars {
        color: #B59361;
        font-size: 80px;
        margin: 15px;
    }
    .logo img {
        display: block;
        width: 100px;
        object-fit: cover;
        margin: 15px;
        transition: .3s;
    }
    .main-menu {
        display: none;
    }
   

    .mb-menu {
        text-align: center;
        position: absolute;
        width: 100vw;
        left:0; 
        right:0;
        background-color: #fff;
    }

    .mb-menu li {
        padding: 20px;
        border-bottom: 1px solid #B59361;
    }
    
     .mb-menu {
        display: none;
    }

    .mb-menu a {
        color: #B59361;
        text-decoration: none;
        font-size: 20px;
        font-family: "noto serif tc";
        font-weight: 600;
    }
    
}


@media screen and  (min-width: 768px) {
    .nav {
        padding: 20px 0;
        border-top: 3px solid #B59361;
        border-bottom: 3px solid #B59361;
    }

    .mobile-menu {
        display: none;
    }

    .logo img {
        display: block;
        width: 100px;
        object-fit: cover;
        margin: 15px auto;
        transition: .3s;
    }

    .logo img:hover {
        scale: 1.1;
    }

    .mb-menu {
        display: none;
    }

    .main-menu {
        display: flex;
        gap: 100px;
        justify-content: center;
    }
    
    .main-menu a {
        color: #B59361;
        text-decoration: none;
        font-size: 20px;
        font-family: "noto serif tc";
        font-weight: 600;
    }
    
    .main-menu a:hover {
        color: #E86971;
    }
    
}







footer {
    background-color: #FFA1A7;
    padding: 3% 0px;

}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav li {
    width: 40%;
}

.footer-nav li a {
    text-decoration: none;
    font-size: clamp( 12px,1.5625vw,20px);
    color: white;
    line-height: 1.6;
    font-weight: bold;
}

.footer-nav li a:hover {
    color: #B59361;
}

.contact {
    display: flex;
    gap: 10px;
}

.fa-brands {
    font-size: clamp(12px, 3.125vw ,40px);
    color: white;
}


.fa-brands:hover {
    color: #B59361;
}

.copyright p {
    color: white;
    text-align: center;
    font-size: clamp( 12px,1.25vw,16px);
    line-height: 1.6;
}